#! /usr/bin/env bash
# Copy this file to env_test_secrets.bash and fill in the correct values.
export TWITCH_OAUTH_CLIENT_ID="x"
export TWITCH_OAUTH_CLIENT_SECRET="x"
export TWITCH_OAUTH_ACCESS_TOKEN="x"
